@page "/login"
@attribute [AllowAnonymous]
@inject AccountClient AccoutClient
@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow-sm p-4 text-center">
        <h2 class="mb-4">Seizure Tracker</h2>
        
        <div class="form-group mb-3 text-start">
            <label>Email Address</label>
            <input @bind="_email" class="form-control form-control-lg" placeholder="name@example.com" />
        </div>

        <button @onclick="HandlePasskeyLogin" class="btn btn-success btn-lg w-100 py-3 mb-3">
            <i class="bi bi-person-badge"></i> Login with FaceID
        </button>

        <p class="text-muted small">First time? Use your password to set up biometrics.</p>
    </div>
</div>

@code {
    private string _email = string.Empty;

    private async Task HandlePasskeyLogin()
    {
        try
        {
            // 1. Get Challenge from API
            var json = await AccoutClient.GetPasskeyOptionsAsync(_email);
            if (json == null) return;

            // 2. Trigger Biometric Sensor
            var module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/passkeys.js");
            var credentialJson = await module.InvokeAsync<string>("authenticatePasskey", json);

            // 3. Send result to API
            var loginResponseSuccess = await AccoutClient.LoginWithPasskeyAsync(credentialJson);

            if (loginResponseSuccess.Data)
            {
                Navigation.NavigateTo("/dashboard");
            }
            else
            {
            
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Login failed: {ex.Message}");
        }
    }
}

