@inherits LayoutComponentBase

<div class="page">
    @* <AuthorizeView> *@
    @*     <Authorized> *@
            @* Show the separate NavMenu component only when logged in *@
            <Navbar/>


        @* </Authorized> *@
        @* *@
        @* <NotAuthorized> *@
            @* 
               Login.razor is rendered here via @Body. 
               We omit the NavMenu so the biometric prompt is the focus.
            *@
            <main class="container py-4">
                <article class="content px-4">
                    @Body
                </article>
            </main>
    @*     </NotAuthorized> *@
    @* </AuthorizeView> *@
</div>

