@using Microsoft.AspNetCore.Components
@using SeizureTrackerBlazer.Services


<label>Time of seizure</label>
<input type="time" value="@_value" oninput="@onInput" class="form-control" placeholder="Enter time">

@code
{
    private string _labelText;
    private string _inputType;
    private string _value;
    private string _placeholder;
    
    [Inject]
    private StateContainer? StateContainer { get; set; }
    [Parameter]
    public string LabelText { get; set; }
    [Parameter]
    public string InputType { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string PlaceHolder { get; set; }
    [Parameter]
    public EventCallback<ChangeEventArgs> OnInputCallback { get; set; }


    protected override void OnInitialized()
    {
       
    }

    protected override void OnParametersSet()
    {
        _labelText = LabelText;
        _inputType = InputType;
        _placeholder = PlaceHolder;
    }

    private void onInput(ChangeEventArgs e)
    {
        if(e?.Value?.ToString() == _value)
            return;
        _value = e.Value.ToString();
        
        OnInputCallback.InvokeAsync(e);
    }
}
