<div id="liveToast" class="my-3 toast toaster-snippet" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex justify-content-around align-items-center">
        <div class="toast-body">
            @_toasterMessage
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

@code {
    private string _toasterMessage;
    [Parameter] public string ToasterMessage { get; set; }

    protected override void OnParametersSet()
    {
        _toasterMessage = ToasterMessage;
    }

}