@page "/not-found"
@layout MainLayout

<PageTitle>404 - Not Found</PageTitle>

<div class="text-center mt-5">
    <h3>Page Not Found</h3>
    <p>Sorry, we couldn't find the page you're looking for.</p>
    <a href="/" class="btn btn-primary">Go to Tracker Home</a>
</div>