@page "/"
@attribute [AllowAnonymous]
@inject StateContainer StateContainer
@inject IJSRuntime JSRuntime

<div class="container log-button-container d-flex justify-content-center align-items-center flex-column py-5 my-5">
    @if (_submitting)
    {
        <div class="d-flex align-items-center justify-content-center">
            <SpinnerComponent Color="@_loadingSpinnerColor"></SpinnerComponent>
        </div>
    }
    else
    {
        <button @onclick="() => Submit(Enums.SeizureTypes.Simple)" type="submit"
                class="btn btn-outline-danger btn-seizure btn-neon btn-simple btn-lg my-3">Simple
        </button>
        <button @onclick="() => Submit(Enums.SeizureTypes.Complex)" type="submit"
                class="btn btn-outline-warning btn-seizure btn-neon btn-complex btn-lg my-3">Complex
        </button>
        <button @onclick="() => Submit(Enums.SeizureTypes.Reflex)" type="submit"
                class="btn btn-outline-info btn-lg btn-seizure btn-neon btn-reflex my-3">Reflex
        </button>
    }
    <ToasterComponent TextColor="@_toasterTextColor" BorderColor="@_toasterBorderColor" ToasterMessage="@_toasterMessage"></ToasterComponent>
</div>

@code {
    private bool _submitting;
    private string _toasterMessage;
    private string _loadingSpinnerColor;
    private string _toasterBorderColor;
    private string _toasterTextColor;

    protected override async Task OnInitializedAsync()
    {
        _submitting = false;
        _loadingSpinnerColor = "text-info";
    }

    private async Task Submit(Enums.SeizureTypes type)
    {
        _submitting = true;

        SeizureActivityDetail seizureLog = new();

        seizureLog.SeizureTime = DateTime.Now.ToUniversalTime().ToString();

        try
        {
            seizureLog.SeizureType = type switch
            {
                Enums.SeizureTypes.Simple => SeizureTypes.Simple,
                Enums.SeizureTypes.Complex => SeizureTypes.Complex,
                Enums.SeizureTypes.Reflex => SeizureTypes.Reflex,
                _ => throw new ArgumentOutOfRangeException(nameof(type), type, null)
            };

            await StateContainer.AddSeizureActivityLog(seizureLog);

            _submitting = false;

            _toasterBorderColor = "#28a745";
            _toasterTextColor = "text-success";
            _toasterMessage = $"{seizureLog.SeizureType} seizure recorded.";

            await ShowMyToast();
        }
        catch (Exception ex)
        {
            _toasterBorderColor = "#dc3545";
            _toasterTextColor = "text-danger";
            _toasterMessage = $"Something went wrong while saving the log...";
            
            await ShowMyToast();

            Console.WriteLine(ex);
        }
    }

    private async Task ShowMyToast()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("showToast", "liveToast");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}