@page "/"
@attribute [Authorize]
@inject StateContainer StateContainer
@inject IJSRuntime JSRuntime

<div class="container log-button-container d-flex justify-content-center align-items-center flex-column py-5 my-5">
    @if (_submitting)
    {
        <div class="d-flex align-items-center justify-content-center">
            <SpinnerComponent Color="@_loadingSpinnerColor"></SpinnerComponent>
        </div>
    }
    else
    {
        <button @onclick="() => Submit(Enums.SeizureTypes.Simple)" type="submit"
                class="btn btn-outline-danger btn-seizure btn-neon btn-simple btn-lg my-3">Simple
        </button>
        <button @onclick="() => Submit(Enums.SeizureTypes.Complex)" type="submit"
                class="btn btn-outline-warning btn-seizure btn-neon btn-complex btn-lg my-3">Complex
        </button>
        <button @onclick="() => Submit(Enums.SeizureTypes.Reflex)" type="submit"
                class="btn btn-outline-info btn-lg btn-seizure btn-neon btn-reflex my-3">Reflex
        </button>
    }
    <ToasterComponent ToasterConfig="@_toasterConfig"></ToasterComponent>
</div>

@code {
    private bool _submitting;
    private string _loadingSpinnerColor;
    private ToasterConfig _toasterConfig;

    protected override async Task OnInitializedAsync()
    {
        _submitting = false;
        _loadingSpinnerColor = "text-info";
    }

    private async Task Submit(Enums.SeizureTypes type)
    {
        _submitting = true;

        SeizureActivityDetail seizureLog = new();
        
        var seizureOccurence = DateTime.Now.ToUniversalTime().ToString();
        seizureLog.SeizureDate = seizureOccurence;
        seizureLog.SeizureTime = seizureOccurence;

        try
        {
            seizureLog.SeizureType = type switch
            {
                Enums.SeizureTypes.Simple => SeizureTypes.Simple,
                Enums.SeizureTypes.Complex => SeizureTypes.Complex,
                Enums.SeizureTypes.Reflex => SeizureTypes.Reflex,
                _ => throw new ArgumentOutOfRangeException(nameof(type), type, null)
            };

            await StateContainer.AddSeizureActivityLog(seizureLog);

            _toasterConfig = new ToasterConfig("#28a745", "text-success", $"{seizureLog.SeizureType} seizure recorded.");

            await ShowToast();
        }
        catch (Exception ex)
        {
            _toasterConfig = new ToasterConfig("#dc3545", "text-danger", $"Something went wrong while saving the log...");

            await ShowToast();

            Console.WriteLine(ex);
        }
        _submitting = false;
    }

    private async Task ShowToast()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("showToast", "liveToast");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}