@page "/"
@attribute [Authorize]
<PageTitle>Seizure Log</PageTitle>

<div class="container">
    <form class="row">
        <div class="col-6">
            <label>Email address</label>
            <input type="date" class="form-control" placeholder="Enter date">
        </div>
        <div class="col-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>